body {
    background-color     : #000;
    background-image     : url(/img/ФОН-ЗВЕЗДЫ.png);
    background-attachment: fixed;


}

.content {
    overflow: hidden;
}

.main-content {
    width     : 100%;
    margin-top: 100px;

    .container {
        width              : 80%;
        margin             : auto;
        // background-color: rgba(255, 0, 179, 0.753);
    }


    .heading {
        margin-bottom: 50px;

        .text {
            font-family   : Montserrat;
            font-style    : normal;
            font-weight   : normal;
            line-height   : 24px;
            letter-spacing: 1.1em;
            text-transform: uppercase;

            color: #FFFFFF;

            text-align: center;
        }

        @media (max-width:320px) {
            font-size: 16px;
        }

        @media (min-width:768px) {
            font-size: 20px;
        }

        @media (min-width:1025px) {
            font-size: 40px;
        }
    }

    @media (max-width:767px) {

        .planet-cart,
        .planet-cart:nth-child(2n+1) {
            display: grid;

            .information {
                margin     : 20px 0;
                grid-column: 1;
                grid-row   : 2;
            }

            .under-text {
                text-align: center;
            }

            .planeta {

                margin   : auto;
                min-width: 200px;
                max-width: 350px;

                @media (max-width:320px) {
                    width: 200px;
                }

                @media (min-width:769px) {
                    margin-top: 70px;
                    width     : 200px;
                }

                @media (min-width:1025px) {
                    margin-top: 70px;
                    width     : 300px;
                }

                img {
                    min-width: 200px;
                    max-width: 350px;

                    @media (max-width:320px) {
                        width: 200px;
                    }

                    @media (min-width:769px) {
                        width: 250px;
                    }

                    @media (min-width:1025px) {
                        width: 300px;
                    }
                }
            }

            .button-for-cart-planet {
                margin: auto;
            }
        }

    }

    .planet-cart {

        @media (min-width:768px) {
            max-width            : 100%;
            min-width            : 90px;
            display              : grid;
            grid-template-columns: 1fr 1fr;

            .planeta {
                // margin    : auto;
                // margin-top: 0;

                img {
                    float : right;
                    width : 300px;
                    height: 300px;
                }
            }
        }



        height       : auto;
        margin       : auto;
        margin-bottom: 200px;
        padding      : 40px;

        background     : rgba(91, 91, 91, 0.05);
        border-radius  : 60px;
        backdrop-filter: blur(5px);



        .information {
            max-width: 651px;
            min-width: 100px;
            float    : left;

            .under-text {

                font-family   : Montserrat;
                font-style    : normal;
                font-weight   : bold;
                font-size     : 20px;
                line-height   : 24px;
                letter-spacing: 0.325em;
                text-transform: uppercase;

                color: #FFFFFF;
            }

            .bottom-text {
                // width : 630px;
                // min-width: 200px;

                margin-top: 20px;

                font-family: Montserrat;
                font-style : normal;
                font-weight: 300;
                font-size  : 16px;
                line-height: 20px;

                color: #FFFFFF;

                @media (max-width:768px) {
                    font-size: 14px;
                }

            }

            .button-for-cart-planet {
                width     : 310px;
                height    : 60px;
                position  : relative;
                margin-top: 70px;

                background   : linear-gradient(90deg, #00041C 0%, rgba(0, 11, 78, 0) 100%);
                border-radius: 34px;

                @media (max-width:768px) {
                    width: 200px;
                }

                .text-for-button {
                    a {
                        font-family: Century Gothic;
                        font-style : normal;
                        font-weight: bold;

                        @media (max-width:768px) {
                            font-size: 16px;
                        }

                        font-size  : 20px;
                        line-height: 25px;
                        /* identical to box height */

                        letter-spacing : 0.325em;
                        text-transform : uppercase;
                        text-decoration: none;
                        color          : #FFFFFF;

                        position: absolute;
                        top     : 15px;
                        left    : 20px;

                    }
                }
            }


        }


    }
}

@media (max-width:767px) {
    .planet-cart:nth-child(2n+1) {

        .information {
            order: 2;

            .under-text {
                text-align: center;
            }

            .bottom-text {
                text-align  : left;
                margin-right: 0;

            }

            .button-for-cart-planet {
                background: linear-gradient(-90deg, #00041C 0%, rgba(0, 11, 78, 0) 100%);
                float     : right;

                .text-for-button {
                    a {
                        text-align: right;
                        position  : absolute;
                        right     : 20px;
                    }
                }
            }
        }
    }



    .planeta {
        margin     : auto;
        margin-left: 0;

        order: 1;
    }
}

.planet-cart:nth-child(2n+1) {


    @media (min-width:768px) {
        max-width: 100%;
        min-width: 90px;
        display  : flex;

        grid-template-columns: 1fr 1fr;

        .planeta {
            margin    : auto;
            margin-top: 0;

            img {
                float : right;
                width : 300px;
                height: 300px;
            }
        }

        .information {
            order: 2;

            .under-text {
                text-align: right;
            }

            .bottom-text {
                text-align  : right;
                margin-right: 0;

            }

            .button-for-cart-planet {
                background: linear-gradient(-90deg, #00041C 0%, rgba(0, 11, 78, 0) 100%);
                float     : right;

                .text-for-button {
                    a {
                        text-align: right;
                        position  : absolute;
                        right     : 20px;
                    }
                }
            }


        }
    }



    .planeta {
        margin     : auto;
        margin-left: 0;

        order: 1;
    }
}