body {
    background-color     : #000;
    background-image     : url(/img/ФОН-ЗВЕЗДЫ.png);
    background-attachment: fixed;


}


.main-content {
    width     : 100%;
    margin-top: 100px;

    .container {
        width           : 80%;
        margin          : auto;
        // background-color: rgba(255, 0, 179, 0.753);
    }

    .heading {
        .text {
            font-family   : Montserrat;
            font-style    : normal;
            font-weight   : normal;
            line-height   : 24px;
            letter-spacing: 1.1em;
            text-transform: uppercase;

            color: #FFFFFF;

            text-align: center;
        }

        @media (max-width:320px) {
            font-size: 16px;
        }

        @media (min-width:768px) {
            font-size: 40px;
        }
    }

    .planet-cart {
        margin-top: 50px;

        .container {
            padding           : 30px;
            background     : rgba(91, 91, 91, 0.05);
            backdrop-filter   : blur(30px);
            border-radius     : 60px;

            @media (max-width:768px) {
                display: grid;

                .under-text {
                    order: 2;
                }

                .planeta {
                    order: 1;
                }

                form {
                    order: 3;
                }
            }

            @media (min-width:769px) {
                padding: 60px;
            }
        }

        .under-text {
            font-family: Montserrat;
            font-style : normal;
            font-weight: 500;

            @media (max-width:768px) {
                text-align: center;
                margin    : 20px 0;
            }

            font-size     : 20px;
            line-height   : 24px;
            letter-spacing: 0.325em;
            text-transform: uppercase;

            color: #FFFFFF;
        }

        form {
            width: 100%;

            input {
                @media (max-width:768px) {
                    width: 100%;
                }

                background   : rgba(255, 255, 255, 0.1);
                border-radius: 34px;
                border       : none;
                text-align   : left;
                height       : 56px;
                position     : relative;
                margin-bottom: 20px;
            }

            input:nth-child(3) {
                margin-bottom: 0;
            }

            input::placeholder {

                @media (max-width:380px) {
                    font-size: 16px;
                }

                transform     : translateX(20px);
                font-family   : Century Gothic;
                font-style    : normal;
                font-weight   : normal;
                font-size     : 20px;
                line-height   : 17px;
                letter-spacing: 0.325em;

                color: #FFFFFF;
            }

            .radio {
                margin: 20px auto;
                width : 100%;

                display        : flex;
                justify-content: center;


                div {
                    display: inline-block;
                }

                .button {
                    width : 45px;
                    height: 45px;

                    padding-top : 4px;
                    padding-left: 8px;
                    margin      : 4%;

                    background   : rgba(255, 255, 255, 0.01);
                    border       : 1px solid rgba(255, 255, 255, 0.5);
                    box-sizing   : border-box;
                    border-radius: 77px;

                    font-family: Century Gothic;
                    font-style : normal;
                    font-weight: bold;
                    font-size  : 30px;
                    line-height: 37px;
                    /* identical to box height */

                    letter-spacing: 0.325em;

                    color: #FFFFFF;

                    text-align     : center;
                    justify-content: center;

                }
            }
        }

        @media (min-width:769px) {

            form {
                margin-top: 50px;
                width     : 60%;
            }

            .input {
                width: 100%;

                input {
                    width: 100%;
                }
            }

        }

        .planeta {
            float: right;
        }

        .checkbox-login01 {
            display: none;
            width  : 1000px;
        }

        // Так будет выглядеть checkbox в состянии off
        .style-login01 {
            // inline-block для того, что-бы текст был напротив
            display: inline-block;
            float  : left;

            width : 56px;
            height: 56px;

            border       : 1px solid rgba(255, 255, 255, 0.5);
            box-sizing   : border-box;
            border-radius: 13px;

            position    : relative;
            margin-right: 10px;
            cursor      : pointer;

            // Так будет выглядеть checkbox в состянии on "checked"
            &::before {
                // content         : '✔';
                content         : '';
                position        : absolute;
                color           : rgba(74, 252, 59, 0.5);
                font-size       : 10px;
                height          : 50px;
                width           : 50px;
                border-radius   : 10px;
                background-color: rgba(74, 252, 59, 0.5);
                display         : flex;
                align-items     : center;
                justify-content : center;
                top             : 50%;
                left            : 50%;
                transform       : translate(-50%, -50%);
                opacity         : 0;
                transition      : .3s;
            }
        }

        .checkbox {
            min-height: 500px;
        }

        // Стили для текста
        .text-login01 {
            font-family   : Montserrat;
            font-style    : normal;
            font-weight   : 300;
            font-size     : 16px;
            line-height   : 25px;
            letter-spacing: 0.325em;
            color         : #FFFFFF;
            cursor        : pointer;

            @media (max-width:580px) {
                font-size  : 14px;
                line-height: 10px;
            }

            @media (max-width:390px) {
                font-size  : 10px;
                line-height: 10px;
            }
        }

        // Соеденяем при нажатии становится не прозрачным стиль
        .checkbox-login01:checked+.style-login01::before {
            opacity: 1;
        }

        .planeta {

            margin   : auto;
            min-width: 200px;
            max-width: 350px;

            @media (max-width:320px) {
                width: 200px;
            }

            @media (min-width:769px) {
                margin-top: 70px;
                width     : 250px;
            }

            @media (min-width:1025px) {
                margin-top: 70px;
                width     : 300px;
            }

            img {
                min-width: 200px;
                max-width: 350px;

                @media (max-width:320px) {
                    width: 200px;
                }

                @media (min-width:769px) {
                    width: 250px;
                }

                @media (min-width:1025px) {
                    width: 300px;
                }
            }
        }

        .bottom_text {
            font-family   : Montserrat;
            font-style    : normal;
            font-weight   : 300;
            font-size     : 10px;
            line-height   : 12px;
            letter-spacing: 0.325em;

            color: #FFFFFF;

            @media (max-width:768px) {
                margin: 40px 0 0 0;
            }

            @media (min-width:769px) {
                margin     : 60px 0 0 0;
                font-size  : 14px;
                line-height: 20px;
                width      : 172%;

            }
        }

        .button-for-cart-planet {

            margin    : auto;
            @media (min-width:769px) {
                margin-right: 0;
            }
            width     : 190px;
            height    : 60px;
            position  : relative;
            margin-top: 70px;

            background   : linear-gradient(90deg, #00041C 0%, rgba(0, 11, 78, 0) 100%);
            border-radius: 34px;


            .text-for-button {
                font-family: Century Gothic;
                font-style : normal;
                font-weight: bold;
                font-size  : 20px;
                line-height: 25px;
                /* identical to box height */

                letter-spacing: 0.325em;
                text-transform: uppercase;

                color: #FFFFFF;

                position: absolute;
                top     : 15px;
                left    : 20px;
            }
        }
    }
}